/* .Dex {
  margin: 40px;
  padding: 50px;
  align-items: center;
}
.NameText {
  margin-top: 15px;
  text-align: left;
  padding-left: 20vw;
} */

.mainWrapper {
  border: solid 1px black;
  height: 45vh;
  width: 65vw;
  position: relative;
  top: 25%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border: solid 10px purple;
  height: 100%;
  width: 55%;
}
.digimonImage {
  border-radius: 50%;
  height: 90%;
  width: 100%;
}
.arrowBox {
  border: solid 1px white;
  height: 25%;
  width: 50%;
  cursor: pointer;
  font-size: 65px;
}
