/* .Dex {
  margin: 40px;
  padding: 50px;
  align-items: center;
}
.NameText {
  margin-top: 15px;
  text-align: left;
  padding-left: 20vw;
} */

.mainWrapper {
  border: solid 1px black;
  height: 45vh;
  width: 65vw;
  position: relative;
  top: 25%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageBox {
  border: solid 10px purple;
}
img {
  border: solid 10px purple;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
.arrowBox {
  border: solid 1px white;
  height: auto;
  width: auto;
  cursor: pointer;
  font-size: 65px;
}
